@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Shadows+Into+Light&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Shadows Into Light', cursive;
}


/*header*/

header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

header.contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}


/*menu*/

#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(225, 225, 255, 0.5);
}

.menu a:hover {
    background: rgba(225, 225, 255, 0.3);
}

#menu-bar:checked~.menu {
    transform: translateX(0%);
}

body {
    background-color: whitesmoke;
}


/*footer*/

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.copy {
    font-size: 20px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: rgb(38, 16, 235);
    text-decoration: none;
}

#blog {
    margin-top: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto
}


/*imagenes*/

#blog .contenedor {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    text-align: center;
}

#blog.article {
    margin: 25px;
}

#blog img {
    /*width: 100%;
    height: 460px;*/
    justify-content: center;
}


/*accesorios padding*/

img.img-fluid {
    margin: 0;
    padding: 10px;
}

#main {
    display: grid;
}

@media only screen and (max-width: 600px) {
    #blog .contenedor {
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        text-align: center;
    }
}

@media only screen and (max-width: 380px) {
    #blog .contenedor {
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto;
        grid-template-rows: auto;
        text-align: center;
    }
}


/*@media screen and ( min-width 1024px) {
    
}